<h1 class="title-h1">Liste de Pokémons</h1>
<input 
    #input
    (keyup.enter)="selectPokemon(input.value)"
    type="number"
/>
@if (pokemonSelected) {
    <p>Vous avez séléctionné le pokemon: {{ pokemonSelected?.name }}</p>    
} @else {
    <p>Aucun pokémon n'a été trouvé.</p>  
}


<div class="container-pokemons">
    @for (pokemon of pokemonList; track pokemon.name) {
        <div class="card-pokemon">
            <div class="image">
                <img src={{pokemon.picture}} alt="">
            </div>
            <ul class="info-card">
                <h1>{{pokemon.name}}</h1>
                <li>{{pokemon.created}}</li>
            </ul>
        </div>
    }
</div>
